body {
  display: flex;
  width: 100%;
}
input {
  width: 100%;
}
.translate-btn {
  margin-left: 10px;
  height: 10%;
  width: auto;
  font-size: 15px;
}
.mainpage {
  display: flex;
}

.file-name-div {
  padding-left: 9%;
  text-align: left;
}
.summary-div {
  padding-left: 10%;
  text-align: left;
}

.Prompt-Answer-div {
  text-align: left;
  padding-left: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 77vw;
}

.leftContent {
  width: 20vw;
}

.Generate_DB_Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchQueryOnDB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.SearchQuerySubmit {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DbQueryResults{
  display: flex;
  justify-content: space-between;
}
.storedPrompts {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Generate_Answer_Form {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-container {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

#selected-language {
  font-size: 18px;
  margin-top: 20px;
}
