body {
  min-height: 100vh; /* Changed from 0vh to 100vh to ensure full viewport height */
  width: 100%;
  background-color: white;
  color: black;
  margin: 0; /* Ensure there's no default margin */
  padding: 0; /* Ensure there's no default padding */
}

.WholePage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  background-color: white;
}
.translate-btn {
  margin-left: 10px;
  height: 10%;
  width: auto;
  font-size: 16px;
}
.mainpage {
  display: flex;
  flex-direction: row;
}

.file-name-div {
  padding-left: 9%;
  text-align: left;
}

.content {
  padding-left: 7%;
}
.summary-div {
  /* padding-left: 10%; */
  text-align: left;
}

.Prompt-Answer-div {
  text-align: left;
  /* padding-left: 10%; */
}

.Logo-Div {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.Logo-Title {
  margin-right: 1vw;
}

.Upload-File-Get-Summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2vw;
  width: 67vw;
}

.Generate-Answer-From-Prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 67vw;
  margin-right: 2vw;
}

.leftContent {
  height: fit-content;
  padding-right: 1vw;
  padding-bottom: 4vh;
  margin-right: 1vw;
  margin-bottom: 1.5vh;
  background-color: rgb(214, 219, 225);
  box-shadow: 0 6px 8px rgba(33, 33, 33, 0.725); /* Box shadow */
  border-radius: 5px;
  padding-left: 1vw;
}

.Generate_DB_Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchQueryOnDB {
  padding-left: 0.8vw;
  width: 90%;
}

.SearchQueryOnDB-input {
  border-radius: 5px;
  border-color: rgb(139, 134, 134);
  color: black;
}
.SearchQuerySubmit {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DbQueryResults {
  display: flex;
  justify-content: space-between;
}
.storedPrompts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Generate_Answer_Form {
  width: 30vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-container {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 16px;
}

#languages {
  background-color: white;
  color: black;
}

#selected-language {
  font-size: 18px;
  margin-top: 20px;
}

.Question-prompt-input {
  width: 100%;
  height: 120%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border-color: rgb(139, 134, 134);
  color: black;
}
